chainer
chainercv
matplotlib
seaborn 
scikit-learn
scikit-image
sklearn
numpy
opencv-python
si-prefix
cupy-cuda100
jupyter
seaborn
https://download.pytorch.org/whl/cu100/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
torchvision